
header{
    display:flex;
    align-items: center;
    width:100%;
    top: 30px;
}
.head-link{
    color: #000;
    opacity: 75%;
    text-decoration:none; 
    padding-left: 15px;
    font-family: arial, sans-serif;
    font-size: 13px;
}
.head-link:hover{
    text-decoration: underline;
}
#app-logo{
position:relative;
height: 20px;
width: 20px;
opacity: 50%;
}
#app-logo:hover{
    opacity:100%;
}
#sign-in{
    background-color: #4285f4;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-left: 15px;
}
#search-section{
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 35em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center
}
.logo{
    flex-grow: 0;
    max-width: 272px;
} 
#search-container{
    width: 75%;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
#search-container:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
#mag-glass{
    height: 20px;
    width: 20px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 3px;
}
.search-bar{
    width: 100%;
    font: 16px arial,sans-serif;
    border: none;
    padding:5px;
    flex-shrink: 1;
    margin-right: 10px;
    margin-left:10px;
}
#mic{
    height: 24px;
    width: 24px;
    background-color: ;
    margin-right: 20px;
    margin-top: 13px;
}
.search-bar:focus{
    outline:none
}
.search-button{
    margin: 30px 4px;
    padding: 10px 16px ;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.search-button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#location-cont, #foot-link-cont{
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    height:40px;
    text-decoration: none; 
    display: flex;
    align-items: center;
}
#foot-link-cont{
height: 30px;
}
.foot-link, #location{
    color: rgba(0,0,0,.54);
    text-decoration: none; 
    padding-left: 20px;
    font-family: arial, sans-serif;
    font-size: 15px;
}
.foot-link:hover{
    text-decoration: underline;
}
#gmail{
    margin-left:auto;
}
#location{
    padding-left: 20px;
    border: none;
    height: 15px;
}
#how-search{
        margin-right: auto;  
}
#privacy{
    margin-left:auto
}
#settings{
    margin-right:20px ;
}
#leaf{
    height: 15px;
    width: 15px;
}
#carbon-neutral{
    padding-left: 5px;
    padding-right: 8em;
}